/* .background-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}
.full-screen-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: hsl(0deg 0% 0% / 60%);
  padding: 30px;
  width: 100%;
  max-width: 500px;
}

.login-title {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2em;
  font-weight: normal;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group .labelTag {
  color: #fff;
  font-weight: lighter;
  font-size: 1.2em;
  margin-bottom: 7px;
}

.inputTag {
  font-size: 1.2em;
  padding: 0.1em 0.25em;
  background-color: white;
  border: 1px solid hsl(200, 35%, 92%);
  outline: none;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px;
  color: rgb(4, 4, 4);
  font-weight: lighter;
}



.login-button {
  padding: 10px 30px;
  width: 100%;
  border-top-left-radius: 8px !important;
  border-bottom-right-radius: 8px;
  background: hsl(280.42deg 63.07% 14.97% / 10%);
  outline: none;
  font-size: 1.2em;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
}

.pass-signup {
  color: #fff;
  padding: 4px;
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 97%;
  }
}

@media screen and (max-width: 320px) {
  .login-container {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .background-image {
    background-size: cover;
    width: 100%;
    background-position: top;
  }
}

.error-message {
  color: #c20000;
}

.inputTag::placeholder {
  color: #1b1919;
  font-weight: 400;
}

.btnEyePassword {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}


 */

@media (max-width: 768px) {
  .textsize {
    font-size: 16px;
  }
  .logoimg {
    width: 150px !important;
  }
  .LogoImg2 {
    width: 150px;
  }
  .bgContainer {
    height: 40%;
  }
  .textContainer {
    height: 60%;
  }
  .inputFieldGroup {
    width: 90% !important;
    margin-left: 18px;
  }
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mainContainer {
  overflow: hidden;
}
.btnGroup {
  align-self: center;
  width: 70%;
}
.btn-signin {
  background: rgb(18, 161, 163);
  color: white;
  border-radius: 18px;
  padding: 3px;
  border: none;
  line-height: 2;
}
.bgImg {
  object-fit: cover;
  filter: brightness(0.5);
  width: 100%;
  height: 100%;
}
.logoimg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  z-index: 1;
}
.cardWidth {
  width: 400px;
}
.LogoImgSize {
  width: 200px;
}
.btn-signin {
  width: 70%;
}
